/*Sets it up so that the particles are infront of the buildings and gives the background color and transparency*/
canvas {
    background:
    hsl(200, 15%, 16%);
    opacity: 0.68;
    display: block;
    position: absolute;
    z-index: 1;
}